@media(max-width: 640px) {
    nav ul li {
        text-align: center;
        display: block;
        width: 100%
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #F0F2F2;
}

nav {
    width: 100%;
    /*導覽列寬度*/
    background: #9FBCBF;
    height: 80px;
    /*導覽列高度*/
    position: fixed
}

nav ul {
    float: right;
    /*顯示在右邊*/
    margin-right: 20px;
    /*距離左邊邊界20px*/
}

nav ul li {
    display: inline-block;
    /*水平顯示標籤*/
    line-height: 80px;
    /*距離頂端80px*/
    margin: 0px 30px;
    /*margin: 上 右 下 左
                        margin:  0 30 0 30(px)*/
}

nav ul li a {
    color: #315259;
    font-size: 18px;
}

label.logo {
    color: #173440;
    font-size: 30px;
    line-height: 80px;
    padding: 100px;
}

nav ul li a:hover {
    background: #65858C;
}